* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  border: 3px solid black;
  gap: 0.5rem;
  padding: 2rem;
  font-size: 1.5rem;
  background-color: #ddd;
}

.grid div {
  border: 1px solid black;
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  cursor: pointer;
  background-color: white;
}

.grid div:not(:first-child):hover {
  filter: brightness(90%);
}

.grid div:first-child {
  grid-column: 1/5;
  width: 100%;
  background-color: white;
  justify-content: flex-end;
  padding: 0 2rem;
}

.grid div:nth-of-type(2) {
  grid-column: 1/3;
  width: 100%;
  background-color: lightblue;
}

.grid div:nth-of-type(3) {
  grid-column: 3/5;
  width: 100%;
  background-color: lightcoral;
}

.output {
  width: 100%;
  height: 100%;
  outline-color: coral;
  font-size: 2rem;
  margin: 0 auto;
  text-align: right;
  letter-spacing: 0.1rem;
}
